header {
    height: 50vh;
    background-color: #C9F0C7;
    background-image: url(../img/headerasiris.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 5px #5AD17A;
    margin: 0px;
    display: flex;
}
